.unasigned-items-list
    padding-bottom: 10px
    border-bottom: solid 1px #b2b2b2
    .unasigned-items-list-item
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        margin-bottom: 15px
        .burger-logo
            display: flex
            width: 45px
            height: 45px
            background: url('/img/burger-button.svg') center no-repeat
            bacground-size: 95%
        .button-add
            display: flex
            width: 24px
            height: 20px
            background: url('/img/add-button.svg') center no-repeat

