<span>Asignados a Yesica</span>
<ul class="unasigned-items-list">
    <li class="unasigned-items-list-item">
        <span class="burguer-logo"></span>
        <span class="item-name">Item name</span>
        <span class="item-quantity">1</span>
        <span class="item-price">$000.00</span>
        <div class="button-add"></div>
    </li>
    <li class="unasigned-items-list-item">
        <span class="burguer-logo"></span>
        <span class="item-name">Item name</span>
        <span class="item-quantity">2</span>
        <span class="item-price">$000.00</span>
        <div class="button-add"></div>
    </li>
    <li class="unasigned-items-list-item">
        <span class="burguer-logo"></span>
        <span class="item-name">Item name</span>
        <span class="item-quantity">2</span>
        <span class="item-price">$000.00</span>
        <div class="button-add"></div>
    </li>
    <li class="unasigned-items-list-item">
        <span class="burguer-logo"></span>
        <span class="item-name">Item name</span>
        <span class="item-quantity">3</span>
        <span class="item-price">$000.00</span>
        <div class="button-add"></div>
    </li>
    <li class="unasigned-items-list-item">
        <span class="burguer-logo"></span>
        <span class="item-name">Item name</span>
        <span class="item-quantity">4</span>
        <span class="item-price">$000.00</span>
        <div class="button-add"></div>
    </li>
    <li class="unasigned-items-list-item">
        <span class="burguer-logo"></span>
        <span class="item-name">Item name</span>
        <span class="item-quantity">2</span>
        <span class="item-price">$000.00</span>
        <div class="button-add"></div>
    </li>
    <li class="unasigned-items-list-item">
        <span class="burguer-logo"></span>
        <span class="item-name">Item name</span>
        <span class="item-quantity">2</span>
        <span class="item-price">$000.00</span>
        <div class="button-add"></div>
    </li>
    <li class="unasigned-items-list-item">
        <span class="burguer-logo"></span>
        <span class="item-name">Item name</span>
        <span class="item-quantity">2</span>
        <span class="item-price">$000.00</span>
        <div class="button-add"></div>
    </li>
</ul>